.login__flex {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 1rem;
}

.login__margin__top {
  margin-top: 1.8rem;
}

.login__logo {
  width: auto;
}

.login__main__form {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.login__main {
  padding: 6.4rem 8.4rem 8.4rem 8.4rem;
  color: #45260a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  flex-direction: column; /* Stack items vertically */

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}

.login__main__title {
  font-size: 2.4rem;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

.login__main__form label {
  font-size: 1.6rem;
}

.login__main__form input[type="text"],
.login__main__form input[type="password"] {
  width: 100%;
  padding: 2px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login__main__forgetpass {
  font-size: 1.2rem;
  justify-self: center;
}

.cb__label {
  font-size: 1.2rem !important;
  align-self: flex-start;
}

.login__main__form button {
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.account {
  font-size: 1.4rem;
}

.login__btn:hover,
.register__btn:hover {
  cursor: pointer;
}
