body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('https://lh3.googleusercontent.com/pw/AP1GczNz6ce5CivhsN0vrBUO3argjTdoQc_WvMgQiNbG4VDk-dfot_aiLDJQcCWMHscVpkVoifAgC8HufKSJyX8n0qAgJNf9ZvSWzDSWWBCMdIKqqKSiDk43l5J449vEBPRUwUAwKJHtT5JpfMdoAFlqHZUW=w1365-h768-s-no?authuser=0');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.login__flex {
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.login__margin__top {
  margin-top: 1.8rem;
}

.login__main__form {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.login__main {
  width: 500px;
  padding: 20px;
  color: #45260a;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Horizontally center items */
  flex-direction: column; /* Stack items vertically */

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}

.login__logo {
  text-align: center;
}

.login__main__title {
  font-size: 2.4rem;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.login__main__form label {
  font-size: 1.6rem;
}

.login__main__form input[type="text"],
.login__main__form input[type="password"] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.login__main__form button {
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.account {
  font-size: 1.4rem;
}

.login__btn:hover,
.register__btn:hover {
  cursor: pointer;
}
