/* header section */

.logo {
  height: 3.6rem;
  background-color: white;
  border-radius: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4122;

  height: 4.8rem;
  padding: 0 2.4rem;
}
/* ************************ */

/* navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: white;
}

.nav-cta:link,
.nav-cta:visited {
  display: inline-block;
  padding: 0.8rem 2.4rem;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 500;
  color: white;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #ff6242;
  box-shadow: inset 0 0 0 1px #cf711f;
}

.exam__page {
  margin-top: 3.6rem;
  margin-bottom: 1.6rem;
}
/* *************************** */

.question__section {
  padding: 2rem;
  background-color: rgb(212, 11, 11);
  margin: 3.6rem 4.8rem;
  border-radius: 2.4rem;
}

.question__main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.input-field {
  width: 100%; /* Adjust the width as per your requirement */
  height: 4rem; /* Adjust the height as per your requirement */
  padding: 0.8rem; /* Add padding for better aesthetics */
  margin-bottom: 1rem; /* Add margin for spacing between fields */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.correct {
  font-size: 1.4rem;
  color: #eee;
}

#question__submit {
  padding: 2rem;
  background-color: aquamarine;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

#question__submit:hover {
  background-color: rgb(87, 187, 154);
  transition: 0.5s;
}

#question {
  margin: 1rem 5rem;
  padding: 1rem auto;
  background-color: aqua;
  justify-self: center;
  align-self: center;
  margin-bottom: 2.4rem;
}

.file__import {
  margin: 3.6rem 4.8rem;
  padding: 0 0 2rem 0;
}

/* ---------------------answer table sections------------------------------ */

.ctn {
  background-color: #eee;
  margin: 3.6rem 4.8rem;
  padding: 2rem;
  border: 2px solid black;
}

.grid_question {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  gap: 2rem;
}

.displayed__question,
.displayed__answer {
  font-size: 1.4rem;
}

.displayed__answer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.correct__ans__green {
  color: green;
  font-weight: 600;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create_ctn {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 4.8rem;
}
