.logo {
    height: 3.6rem;
    background-color: white;
    border-radius: 2px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff4122;
  
    height: 4.8rem;
    padding: 0 2.4rem;
  }
  /* ************************ */
  
  /* navigation */
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: white;
  }
  
  .nav-cta:link,
  .nav-cta:visited {
    display: inline-block;
    padding: 0.8rem 2.4rem;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 500;
    color: white;
  }
  
  .nav-cta:hover,
  .nav-cta:active {
    background-color: #ff6242;
    box-shadow: inset 0 0 0 1px #cf711f;
  }

  /* CSS styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.8rem;
  }
  
  h1 {
    text-align: center;
  }

.results-title{
    font-size: 40px;
    text-align: center;
    color: red;
    padding-top: 15px;
}

.results-form .searchStu{
    padding-right: 10px;
}

.results-form .txtInput{
    font-size: 15px;
}

.results-form{
    background-color: #ff4122;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.results-form .searchStu{
    color: white;
}

.results-form .searchBtn{
    font-size: 16px;
    padding: 2px 10px;
    margin: 0px 10px;
}

table{
    border-collapse: collapse;
}

th{
    text-align: left;
}

th, td{
    padding: 10px;
}

.results-table {
    display: none;
}

.table{
    background-color: aliceblue;
    margin-top: 30px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
}
